This notebook explores the initial dataset as provided. Before the Excel spreadsheet was exported to CSV from within Excel itself, I dropped a couple of columns in which all the values were the same or the data provided seemed irrelevant. Those columns were:

* `STATUS`: nothing but `A`s here.
* `ACCOUNT`: The distinction between 610101 and 610102 wasn't clear.

Because this file is not that big, I decided to keep the rest of the columns.

I also changed `POSN_ORGN_TITLE` simply to `DEPARTMENT`. Where there were spaces in column headers, I replaced them with underscores.

In the sections that follow, I will try to explain what I am doing as I go in case anyone is interested in the process. If you are not, please feel free to skim and skip.

The first thing to note is that this notebook sits inside a repository on GitHub. In this case, a repository is simply a collection of files that are all version controlled (using a system called Git). Once I had moved the modified Excel spreadsheet and its CSV export, I listed the contents of the directory so I can copy and paste the name of the CSV file exactly when I open it. (I'm lazy.)

In [1]:
%ls

01-Initial_Explorations.ipynb  ulfacsalaries.csv
department_ranks.csv           ulfacsalaries.xlsx

The main library that I will be using is called `pandas` which makes data exploration and analysis fairly easy. We have to load it in order to use it:

In [2]:
import pandas as pd

Now we have the functionality to read the CSV file and to tell us its shape -- how many rows by how many columns.

In [3]:
df = pd.read_csv('ulfacsalaries.csv', index_col=0)
df.shape

(626, 16)

We can also glimpse the top ten rows to make sure Our column headers imported correctly and that things seem to be where we expect them to be. (You can never tell with data, can you?)

In [4]:
df.head(10)

,DEPARTMENT,PERCENTAGE,FOAPAL_SALARY,TOTAL_SALARY,OTHER_SALARY,TENURE,DEGREE,DEGREE_DESC,YEARS_HERE,YEARS_TOTAL,POSITION_FTE,JOB FTE,BUDGET_FTE,JOB_PCT,MONTHS_EMPL,POSN_ECLS
TITLE,,,,,,,,,,,,,,,,
Assistant Professor,Accounting,100.0,"139,000.00","139,000.00",0.00,NaN,NaN,NaN,0,0,1.0,1,1,0,9,F9
Assistant Professor,Accounting,100.0,"139,000.00","139,000.00",0.00,NaN,NaN,NaN,0,0,1.0,1,1,0,9,F9
Assistant Professor,Accounting,100.0,"138,000.00","138,000.00",0.00,O,PHD,Doctor of Philosophy,0,0,1.0,1,1,100,9,F9
Associate Professor,Accounting,100.0,"131,171.00","134,291.00","3,120.00",T,PHD,Doctor of Philosophy,18,22,1.0,1,1,100,9,F9
Associate Professor,Accounting,100.0,"131,484.00","137,724.00","6,240.00",T,PHD,Doctor of Philosophy,21,22,1.0,1,1,100,9,F9
Associate Professor,Accounting,100.0,"130,108.00","139,468.00","9,360.00",O,PHD,Doctor of Philosophy,5,5,1.0,1,1,100,9,F9
Master Instructor,Accounting,100.0,"67,396.00","67,396.00",0.00,N,DBA,Doctor of Business Admin_,12,12,1.0,1,1,100,9,F9
Master Instructor,Accounting,100.0,"70,161.00","76,401.00","6,240.00",N,MBA,Master of Business Admin.,20,21,1.0,1,1,100,9,F9
Professor,Accounting,100.0,"143,844.00","150,084.00","6,240.00",T,PHD,Doctor of Philosophy,28,28,1.0,1,1,100,9,F9
Professor And Head,Accounting,100.0,"147,426.00","173,666.00","26,240.00",T,PHD,Doctor of Philosophy,39,37,1.0,1,1,100,9,F9

**pandas** did not like the commas in the numbers -- and, in fact, converted these numbers to strings as a result -- so the next bit of code simply removes the commas and makes sure the numbers are numbers. (If you re-run the cell above, you will see the commas are now gone.)

In [5]:
columns = ['FOAPAL_SALARY','TOTAL_SALARY', 'OTHER_SALARY']

for column in columns:
    df[column] = df[column].apply(lambda x: float(x.split()[0].replace(',', '')))

Certain kinds of statistical information is fairly easy to get:

In [6]:
print(f"The overall average for faculty salares is {df.FOAPAL_SALARY.mean():.2f}.")
print(f"The median of the salaries is {df.FOAPAL_SALARY.median():.2f}.")
print(f"The standard deviation for faculty salaries is {df.FOAPAL_SALARY.std():.2f}.")

The overall average for faculty salares is 76705.42.
The median of the salaries is 69576.50.
The standard deviation for faculty salaries is 29297.50.

In [7]:
ranks = df.groupby('TITLE').agg({'FOAPAL_SALARY': ['mean', 'min', 'max']})
print(ranks)

                                FOAPAL_SALARY
                                         mean       min       max
TITLE
Assisant Professor               50000.000000   50000.0   50000.0
Assistant Professor              68591.461988   46301.0  139000.0
Assistant Professor, A D Bands   52000.000000   52000.0   52000.0
Associate Dean                   64428.000000   64428.0   64428.0
Associate Professor              81897.906977   52527.0  131484.0
Asst Professor & Assess Coor     64111.000000   64111.0   64111.0
Instructor                       57189.990909   19162.0  112572.0
Lecturer                         58054.000000   58054.0   58054.0
Master Instructor                54527.911765   39179.0   75314.0
Professor                       107682.062937   64923.0  212000.0
Professor & Director            120000.000000  120000.0  120000.0
Professor And Head              147426.000000  147426.0  147426.0
Reading Instructor               46963.000000   46963.0   46963.0
Senior Instructor                50879.354839   37763.0   70981.0

In [8]:
departments = df.groupby('DEPARTMENT').agg({'FOAPAL_SALARY': ['mean', 'min', 'max']})
print(departments)

                                   FOAPAL_SALARY
                                            mean       min       max
DEPARTMENT
Accounting                         113917.166667   64627.0  147426.0
Allied Health                       80469.750000   62000.0  130162.0
Baccalaureate Nursing               69132.200000   41600.0  102280.0
Biology                             85988.218750   46000.0  148636.0
Chemical Engineering               117300.900000   75000.0  200000.0
Chemistry                           77700.166667   50239.0   95567.0
Civil Engineering                  101208.100000   46560.0  136083.0
Cntr Fr Adv Computer Study         128998.400000   92714.0  193190.0
Communication                       59611.166667   45000.0   97042.0
Communicative Disorders             99853.444444   69664.0  143300.0
Computer Science                    85862.333333   74739.0   96794.0
Counselor Education                 73900.200000   64984.0   89715.0
Criminal Justice                    54030.600000   49259.0   61202.0
Dean of Nursing&Allied Hlth Prof    58386.000000   55393.0   65738.0
Economics & Finance                100832.700000   51068.0  210000.0
Elect & Computer Engineering       103521.818182   75000.0  212000.0
English                             56913.355556   36046.0  102080.0
History & Geography                 61177.941176   39063.0   97067.0
Industrial Technology               84316.000000   59854.0  110155.0
Informatics                         86351.600000   58686.0  112927.0
Kinesiology                         64015.058824   44000.0   96385.0
Library                             54320.133333   45000.0   75527.0
Management                         101299.909091   48073.0  153242.0
Marketing & Hospitality            117642.857143   54128.0  162338.0
Mathematics                         75583.684211   43000.0  125596.0
Mechanical Engineering              98673.000000   46301.0  171000.0
Modern Languages                    55957.133333   35909.0   83689.0
Music                               65443.791667   48878.0  114074.0
PI Carmouche Robert L               46963.000000   46963.0   46963.0
PI Gopu Vijaya Krishna             152921.000000  152921.0  152921.0
Performing Arts                     55451.571429   45495.0   64081.0
Petroleum Engineering              103016.666667   78153.0  136573.0
Physics                             81596.000000   50000.0  108736.0
Political Science                   67078.857143   51000.0   78831.0
Psychology                          56902.055556   41966.0   79076.0
Sch of Computing & Informatics     128825.333333   95000.0  195476.0
School of Architecture/Design       74896.222222   58054.0  117682.0
School of Geoscience                78129.615385   47000.0  120000.0
Sociology, Anthropology, and CAFS   66733.058824   41000.0  129233.0
Tchr Ed Curriculum & Instruc        61229.566667   19162.0  104112.0
Tchr Ed Found & Leadership          72760.666667   51716.0  102839.0
UNIV 100                            99303.000000   99303.0   99303.0
UNIV 200                            48274.333333   45139.0   52684.0
Visual Arts                         58403.315789   50000.0   84990.0

In [9]:
department_ranks = df.groupby(['DEPARTMENT', 'TITLE']).agg({'FOAPAL_SALARY': ['mean', 'min', 'max']})
print(department_ranks)

                                 FOAPAL_SALARY
                                          mean       min       max
DEPARTMENT  TITLE
Accounting  Assistant Professor  138666.666667  138000.0  139000.0
            Associate Professor  130921.000000  130108.0  131484.0
            Master Instructor     68778.500000   67396.0   70161.0
            Professor            143844.000000  143844.0  143844.0
            Professor And Head   147426.000000  147426.0  147426.0
...                                        ...       ...       ...
UNIV 200    Instructor            48274.333333   45139.0   52684.0
Visual Arts Assistant Professor   52369.888889   50000.0   54376.0
            Associate Professor   60079.600000   54586.0   66936.0
            Instructor            50000.000000   50000.0   50000.0
            Professor             71984.000000   66805.0   84990.0

[176 rows x 3 columns]

In [12]:
department_ranks.to_csv('department_ranks.csv')

In [11]:
# For later when I have pyxl loaded:
# with pd.ExcelWriter('department_ranks.xlsx', mode='a') as writer:
#     df.to_excel(writer, sheet_name='Salaries by Department and Rank')